body {
    margin-top: 114px;
}

.main-page-content {
    width: 100%;
    margin-bottom: 64px;
}

.main-page-content .carousel:not(:last-child) {
    margin-bottom: 50px;
}

.suggested-video, .recommended-channel-video {
    width: 250px;
    cursor: pointer;
}

.suggested-video-cover, .recommended-channel-video-cover {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
}

.suggested-video-cover img, .recommended-video-cover img, .recommended-channel-video-cover img {
    width: 100%;
}

.recommended-videos-carousel {
    height: 363px;
}

.recommended-video {
    width: 540px;
    cursor: pointer;
}

.recommended-video-cover {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
}

.channel-recommendation {
    font-weight: 400;
    font-size: 16px;
    margin-left: 19px;
    padding-top: 19px;
    color: var(--grey);
}

.channel-carousel-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.channel-carousel-buttons .subscribe-button {
    margin-right: 40px;
}